{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row" style="background-color: #FFF;">
        <div class="box">

            <div class="col-xs-4 col-md-4"></div>
            <div class="col-xs-4 col-md-4">
            
            {% crispy form %}

            <!-- {# <form action="/city_search/" method="GET">

                City:
                {{ form.city }}

                <br>

                State:
                {{ form.state }}

                <br>
                <input type="submit" value="Search">

            </form>

            {{ form.errors }} #} -->

            {% for city in cities %}
                {{ city.name }}
                {{ city.zipcode }}
                <br>
            {% endfor %}

            </div>
            <div class="col-xs-4 col-md-4"></div>
        </div>
    </div>

{% endblock %}