{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="row" style="background-color: #FFF;">
        <div class="box">

            <div class="col-xs-2 col-md-2"></div>
            <div class="col-xs-8 col-md-8">
            
            {% crispy form %}
            
            <br>
            <br>

            <p style="margin-top:35px;">

            {% for city in cities %}
                {{ city.name }}
                {{ city.zipcode }}
                <br>
            {% endfor %}
            </p>
            </div>
            <div class="col-xs-2 col-md-2"></div>
        </div>
    </div>

{% endblock %}